*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;

}

main{
    font-family: 'Comfortaa', cursive;
}
body {
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #323131;
    padding: 20px 0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

.title {
    color: #FFE600;
    background-color: #323131;


}

.info-header {
    font-size: 30px;

}

.main {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.score {
    display: inline;
    font-weight: bold;
    font-size: 22px;
}

.sign {
    display: inline;
    font-size: 80px;
    font-weight: bold;
    /* background-color: white; */

}
.primary-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-arena {
    display: flex;  
    justify-content: space-between;
    margin-top: 40px;
}

.score-box {
    display: inline;
}

.score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    border: none;
    outline: none;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 10px;

    padding-left: 30%;
    padding-right: 30%;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--primary-light);
    font-size: 20px;
}


  img:hover {
    filter: hue-rotate(180deg);
  }

  .button{
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    border: none;

  }
  .button:hover{
    background-color: rgb(65, 63, 63);
  }

  .button-icon{
    font-size: 80px;
    font-weight: bold;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgb(51, 47, 47);
    border-radius: 10px;

  }
  .button-icon:hover{
    background-color: rgb(58, 55, 55);
  }